/* Custom styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Navbar */
.custom-header {
    background-color: #443627;
}

.logo{
    color: white;
    font-size: 30px;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #ffd700 !important;
}

.btn-warning {
    margin-left: 15px;
}
.home{
    background-color: white;
}

/* section */